body{
  background-color:lightgreen;
}
h1{
  font-family: Monospace;
  font-size: 54px;
}
h2{
  font-family:Verdana;
  font-size: 36px;
}
p{
  font-size: 26px;
  font-family: Monospace; 
}
h3{
  font-size: 36px;
  font-family: Verdana;
}
img{
  border: dotted 4pt darkgreen; 
}
