/*General*/
body{
  background-color:lightgreen;
  text-align: center;
  margin: 50px;
}
h1{
  font-family: Verdana;
  font-size: 50px;
  }
h2, h3, h4{
  font-family:Verdana;
  font-size: 30px;
} 
li, ol {
  list-style-position: inside;
}
img{
  border: dotted 4pt darkgreen; 
}
p{
  font-size: 20px;
  font-family: Monospace; 
}
a{
  font-size: 20px;
  font-family: Verdana;
}
button{
  background: white;
  font-family: Verdana;
  font-size: 20px;
  border: solid 2px black;
  padding: 5px;
  margin-bottom: 10px;
}
button:hover{
  background: yellow;
}
input{
  font-family: Verdana;
  border: solid 2px black;
}


/*Header*/
#title > a > img{
  float: left;
  width: 100px;
}
#title > h1{
  text-align: left;
  margin-left: 125px;
}
nav{
  font-size: 20px;
  margin: 0px;
}
nav > a{
  flex: 1;
  margin: 2px;
  background-color: white;
  padding: 5px;
  border: solid 2pt;
} 
nav > a:visited, nav > a:link, nav > a:active{
  color: black;
  text-decoration: none;
}
nav > a:hover{
  background: yellow;
}



/*Donations*/
.group{
  border-bottom: solid 1px;
  padding: 40px;
}
.group > img{
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

/*Information*/
.article{
  border-bottom: solid 1px;
  padding: 40px;
  margin-bottom: 20px;
  padding-bottom: 100px;
}
.article > img{
  float: left;
  margin-right: 20px;

}


/*Home*/
.images{
  display: float;
}
.images > img{
  float: center;
  width: 28%;
  margin: 5px;
}


  
/*Spread The Word*/
#board{
  border: solid 3px;
}
.box{
  border-bottom: solid 3px black;
}


/*Purchase*/
#item > img{
  width: 200px;
  height: 200px;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
figcaption {
  color: white;
  font-family: Monospace;
}
#item{
  flex: 20%;
  background: limegreen;
  margin: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 20px;
}
#item > h4, #item > p {
  color: white;
}
#item > a{
  background: white;
  padding: 5px;
  border: solid 2px black;
}
#item > a:visited, #item > a:link, #item > a:active{
  color: black;
  text-decoration: none;
}
#item > a:hover{
  background-color: yellow;
}
